@media screen and (min-width: 1100px) {

    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        scroll-behavior: smooth;
    }

    body{
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #2f2c2c;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 8%;
        
            
    }

    header{

        padding-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
  
    }

    #leftmenu{

        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-left: 8%;
    }

    #cxmy{

        width: 16%;
    }

    #imgmy{

        width: 100%;
        height: 100%;
        border-radius: 50%;

    }

    #gopj{

        font-size: 1.7vw;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 2%;
        margin-left: 3%;
        border: 3px solid #fff;
        background-color: blue;
        border-radius: 10px;
    }

    #gopj:hover{

        background-color: red;
    }

    #menu{
  
        width: 18%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 15%;
    }

    .links{
        width: 20%;
    }

    .cxicon{
        width: 100%;
    }

    .imgicon{
        width: 100%;
    }

    #first{

        width: 100%;
        display: flex;
        flex-direction: row;
       
    }

    #content1{
  
        margin-top: 5%;
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 7%;
     
    }

    h2{
        text-shadow: 2px 1px 1px #000;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 3vw; 
    }

    #description{
        text-shadow: 2px 1px 1px #000;
        margin-top: 10%;
        text-align: justify;
        color: #fff;
        font-size: 1.3vw;

   }

    #content2{
   
        margin-top: 5%;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    #technologies{

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }

    .linetech{

        display: flex;
        flex-direction: row;
    }

    #line2{

        margin-top: 15%;
    }

    .tech{
        width: 50%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        color: #fff;
        font-size: 1.3vw;
        text-shadow: 1px 1px 1px #000;

      
    }

    .figtech{

        width: 30%;
        margin-left: 20%;
    }

    .imgtech{
        width: 100%;
    }

    .desc{
        font-size: 1.7vw;
        text-shadow: 2px 1px 1px #000;
        color: #fff;
        margin-left: 5%; 
        text-align: center;
    }

    #pjs{

        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
       
    }

    #subpj{

        width: 100%;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
        
    }

    #projects{

        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        
    }

    .project{
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding-bottom: 5%;
        color: #fff;
        border: 3px solid #fff;
        width: 85%;
        margin-top: 7%;
        background: linear-gradient(to bottom right, blue, rgb(4, 7, 95));
    }

    .titpj{

        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        text-shadow: 2px 1px 1px #000;
    }

    .cxproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }  
    
    .imgproject{

        width: 100%;
        border-radius: 10px;
    }

    .descproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        margin-top: 5%;
        text-align: justify;
        text-shadow: 1px 1px 1px #000;
        height: 185px;
    }

    .buttons{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    .btnproject, .btnproject2{

        width: 80%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        padding: 2%;
        background-color: rgb(73, 73, 210);
        border: 2px solid #fff;
        text-shadow: 1px 1px 1px #000;
    }

    .btnproject:hover, .btnproject2:hover{

        background-color: blue;
    }

    .btnproject2{

        margin-top: 5%;
    }   

}



@media screen and (min-width: 500px) and (max-width: 1100px) {

    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        scroll-behavior: smooth;
    }

    body{
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2f2c2c;
        padding-bottom: 45%;
        
            
    }

    header{

        padding-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12%;
  
    }

    #leftmenu{

        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    #cxmy{

        margin-left: 9%;
        width: 35%;
    }

    #imgmy{
        width: 100%;
        border-radius: 50%;

    }

    #gopj{

        font-size: 2.5vw;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 4%;
        padding-top: 4%;
        border: 3px solid #fff;
        background-color: blue;
        border-radius: 10px;
        width: 40%;
    }

    #gopj:hover{

        background-color: red;
    }

    #menu{
  
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .links{
        width: 25%;
    }

    .cxicon{
        width: 100%;
    }

    .imgicon{
        width: 100%;
    }

    #first{

        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 10%;
       
    }

    #content1{
  
        margin-top: 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 7%;
     
    }

    .titmy{
        text-shadow: 2px 1px 1px #000;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 4vw; 
    }

    #description{
        text-shadow: 2px 1px 1px #000;
        margin-top: 10%;
        text-align: justify;
        color: #fff;
        font-size: 2vw;

   }

    #content2{
   
        margin-top: 5%;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    #technologies{
     
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .linetech{

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tech{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top: 3%;
        color: #fff;
        font-size: 1.3vw;
        text-shadow: 1px 1px 1px #000;

      
    }

    .figtech{

        width: 30%;
        margin-left: 20%;
    }

    .imgtech{
        width: 100%;
    }

    .desc{
        font-size: 2.3vw;
        text-shadow: 2px 1px 1px #000;
        color: #fff;
        margin-left: 5%; 
        text-align: center;
    }

    #pjs{

        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
        padding-top: 7%;
       
    }

    #subpj{

        margin-top: 5%;
        margin-bottom: 7%;
        width: 100%;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 5.5vw;
        text-shadow: 2px 1px 1px #000;
        
    }

    #projects{

        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8%;
    }

    .project{
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding-bottom: 4%;
        color: #fff;
        border: 3px solid #fff;
        width: 90%;
        height: 100%;
        background: linear-gradient(to bottom right, blue, rgb(4, 7, 95));
    }

    .titpj{

        width: 100%;
        text-align: center;
        font-size: 2.3vw;
        text-shadow: 2px 1px 1px #000;
    }

    .cxproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }  
    
    .imgproject{

        width: 100%;
        border-radius: 10px;
    }

    .descproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        margin-top: 10%;
        text-align: justify;
        text-shadow: 1px 1px 1px #000;
        height: 50%;
    }

    .buttons{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15%;  
    }

    .btnproject, .btnproject2{

        width: 80%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        padding: 2%;
        background-color: rgb(73, 73, 210);
        border: 2px solid #fff;
    }

    .btnproject:hover, .btnproject2:hover{

        background-color: blue;
    }

    .btnproject2{

        margin-top: 5%;
    }

}

@media screen and (min-width: 200px) and (max-width: 500px) {

    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        scroll-behavior: smooth;
    }

    body{
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2f2c2c;
        padding-bottom: 200%;
        
            
    }

    header{

        padding-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12%;
  
    }

    #leftmenu{

        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2%;

    }

    #cxmy{

        margin-left: 9%;
        width: 45%;
    }

    #imgmy{
        width: 100%;
        border-radius: 50%;

    }

    #gopj{

        font-size: 4.5vw;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 4%;
        padding-top: 4%;
        border: 3px solid #fff;
        background-color: blue;
        border-radius: 10px;
        width: 50%;
    }

    #gopj:hover{

        background-color: red;
    }

    #menu{
  
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }

    .links{
        width: 25%;
    }

    .cxicon{
        width: 100%;
    }

    .imgicon{
        width: 100%;
    }

    #first{

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
       
    }

    #content1{
  
        margin-top: 10%;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
     
    }

    .titmy{
        text-shadow: 2px 1px 1px #000;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 7.5vw; 
    }

    #description{
        text-shadow: 2px 1px 1px #000;
        margin-top: 10%;
        text-align: justify;
        color: #fff;
        font-size: 3.7vw;

   }

    #content2{
   
        margin-top: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    #technologies{
     
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .linetech{

        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }

    .tech{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
        color: #fff;
        font-size: 1.3vw;
        text-shadow: 1px 1px 1px #000;
        justify-content: center;
        align-items: center;

      
    }

    .figtech{

        width: 40%; 
    }

    .imgtech{
        width: 100%;
    }

    .desc{
        font-size: 4vw;
        text-shadow: 2px 1px 1px #000;
        color: #fff;
        text-align: center;
        margin-top: 3%;
    }

    #pjs{

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
        padding-top: 7%;
        margin-top: 20%;
       
    }

    #subpj{

        margin-top: 5%;
        margin-bottom: 20%;
        width: 100%;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 8vw;
        text-shadow: 2px 1px 1px #000;
        
    }

    #projects{

        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3%;
    }

    .project{
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        padding-bottom: 4%;
        color: #fff;
        background: linear-gradient(to bottom right, blue, rgb(4, 7, 95));
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    .titpj{

        width: 100%;
        text-align: center;
        font-size: 5.5vw;
        text-shadow: 2px 1px 1px #000;
    }

    .cxproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }  
    
    .imgproject{

        width: 100%;
        border-radius: 10px;
    }

    .descproject{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        margin-top: 10%;
        text-align: justify;
        text-shadow: 1px 1px 1px #000;
        
    }

    .buttons{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15%;  
        font-size: 5vw;
    }

    .btnproject, .btnproject2{

        width: 80%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        padding: 2%;
        background-color: rgb(73, 73, 210);
        border: 2px solid #fff;
    }

    .btnproject:hover, .btnproject2:hover{

        background-color: blue;
    }

    .btnproject2{

        margin-top: 5%;
    }

}